html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    background-color: #f5f5f5;
}

@media (max-width: 350px) {
    body {
        font-size: 1em;
    }
}

@media (max-width: 250px) {
    body {
        font-size: 0.75em;
    }
}

h2 {
    font-size: 1.25em;
    line-height: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
}

select,
input {
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    margin: 0 auto;
    padding: 2em;
    max-width: 800px;
    background-color: #fff;
}

@media (max-width: 250px) {
    .container {
        padding: 1em;
    }
}

.view-container {
    width: calc(50% - 1em - 2px);
}

@media (max-width: 576px) {
    .view-container {
        width: 100%;
    }
}

.selector-frame,
.input-frame {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    font-size: 0.8em;
    border: 1px solid #000000;
    border-radius: 10px;
}

.meme-frame {
    /* width: 100%; */
    position: relative;
}

.meme-img {
    width: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
}

.text-top {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.text-bottom {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
